html,body
{
	text-decoration: none;
	text-capitalize: capitalize;
	text-align: center;
	margin: 10px;
	padding-top: 50px;
	min-height: 80%;
	color: white;
	background-color: blue;
	line-height: 1.5px;
	font-family: serif;
	font-size: 25px;
	font-weight: normal;
}

.btn
{
	background-color: black;
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.btn:hover
{
	background-color: crimson;
	color: black;
}