html,body
{
	text-decoration: none;
	text-capitalize: capitalize;
	text-align: center;
	margin: 10px;
	padding-top: 50px;

	color: green;
	background-color: rgb(1, 1, 63);

	font-family: serif;
	font-size: 25px;
	font-weight: normal;
}